.App {
  text-align: center;
}
.content{
  margin: 0 auto;
  max-width: 1500px;
  min-width: 300px;
}
.content-grid{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  
}

.select-boxes{
  position: relative;
  right: 0px ;
}

@media (max-width: 700px){
.content-grid{
  margin: 0 auto;
  max-width:none;
  min-width: none;
  display: grid;
  grid-template-columns: 100%;
}


.content{
  margin: 0 auto;
  max-width: 450px;

}
}